<% layout('layouts/boilerplate') %>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="border col-10 col-md-8 col-lg-6">
                <form action="/login" method="POST" novalidate>
                    <h1 class="text-center">Login</h1>
                    <p class="description text-center">Please type in your credentials for Login to Veggie Connect</p>
                    <div class="row justify-content-center">
                        <div class="form-group col-4">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="inputUsername" name="username"
                                placeholder="Username" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please choose a username.
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="form-group col-4">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="inputPassword" name="password"
                                placeholder="Password">
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-4 text-center">
                            <button class="btn btn-success w-100 mt-2" type="submit">Login</button>
                        </div>
                    </div>
                    <hr />
                    <p class="text-center mt-2">Don't have an account? <a href="/register" class="link-info">Register
                            here</a>
                    </p>
                    <p class="text-center mt-2">&copy; Veggie Connect by Tolgay and Tim</p>
                </form>
            </div>
        </div>
    </div>