<% layout('layouts/boilerplate') %>
    <div class="container h-100">
        <div class=" row h-100 justify-content-center align-items-center">
            <div class="border col-10 col-md-8 col-lg-6">
                <form id="regForm" action="/register" method="POST" novalidate>
                    <div class="page-header">
                        <h1 class="text-center">Register for the Veggie Connect</h1>
                    </div>
                    <p class="description text-center">Please type in your data</p>
                    <div class="tab">
                        <div id="username" class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="inputUsername" name="username"
                                placeholder="Username" required>
                        </div>

                        <div id="email" class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" class="form-control" id="staticEmail" name="email" placeholder="Email">
                        </div>

                        <div id="password" class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="inputPassword" name="password"
                                placeholder="Password">
                        </div>
                    </div>
                    <div class="tab">
                        <div class="form-group">
                            <label for="firstname">First Name:</label>
                            <input type="text" class="form-control" id="inputFirstName" name="firstname"
                                placeholder="First Name" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please choose a username.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname">Last Name:</label>
                            <input type="text" class="form-control" id="inputLastName" name="lastname"
                                placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <label for="age">Age:</label>
                            <input type="text" class="form-control" id="inputAge" name="age" placeholder="Age">
                        </div>
                        <div class="form-group">
                            <label for="gender">Gender:</label>
                            <select name="gender" class="form-select" aria-label="Default select example">
                                <option selected>Select Gender</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                                <option value="3">Diverse</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="genderInterest">I'm Interested in:</label>
                            <select name="genderInterest" class="form-select" aria-label="Default select example">
                                <option selected>Select Interested Gender</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                                <option value="3">Transgender</option>
                                <option value="4">Give me all!</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="description">Give a brief description of yourself:
                            </label>
                            <textarea class="form-control" id="inputDiscription" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="profilePicture">Upload a Profilpicture:</label>
                            <input type="file" class="form-control" id="profilePicture" />
                        </div>
                    </div>
                    <div class="tab form-group">
                        <label for="description">Tell us about your passions:
                        </label>
                        <textarea class="form-control" id="inputPassion" rows="3"></textarea>
                    </div>
                    <hr />
                    <div class="row justify-content-end">
                        <div class="col-4 text-end">
                            <button id="prevButton" onclick="clickHandlerButton(-1)" class="btn btn-success"
                                type="button">Previous</button>
                            <button id="nextButton" onclick="clickHandlerButton(1)" class="btn btn-success"
                                type="button">Next</button>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-2 text-center">
                            <span id="1" class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                        </div>
                    </div>
                    <p class="text-center mt-2">&copy; Veggie Connect by Tolgay and Tim</p>
                </form>
            </div>
        </div>
    </div>
    <script src="/public/scripts/register.js"></script>